 
    table th {
        background-color: #ff69b4;
        padding: 10px 20px;
    }
 
    table td {
        background-color: #ffc0cb;
        padding: 10px 5px;
        text-align: center;
    }
 
    .notice {
        background-color: #db7093;
        padding: 5px;
    }

    body {
        font-family: Hannotate SC;
    }

    header {
        width: 100%;
        padding: 15px;
        margin-bottom: 30px;
        border-bottom: 7px solid pink;
      }
   
      footer{
        width: 100%;
        padding: 15px;
        margin-top: 30px;
        border-top: 7px solid pink;
      }